<app-header></app-header>
<!-- Start car breadcrumb row -->
<div class="container-fluid bt_bg bb_bg">
  <div class="container">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Disclaimer</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      
      <div class="center">
        <h2 class="pl_10">Disclaimer</h2>
      </div>
      <div class="col-lg-12">
        <div class="disclaimer_content pt_20">
          <ul>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
            <li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</li>
            <li>when an unknown printer took a galley of type and scrambled it to make a type specimen book</li>
            <li>It has survived not only five centuries, but also the leap into electronic typesetting, remaining
              essentially unchanged</li>
            <li>It is a long established fact that a reader will be distracted by the readable content of a page when
              looking at its layout.</li>
            <li>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</li>
            <li>Various versions have evolved over the years, sometimes by accident, sometimes on purpose.</li>
            <li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
              Latin literature from 45 BC, making it over 2000 years old</li>
            <li>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(255,255,255,1)" size="medium" color="#1B6CA8" type="triangle-skew-spin"><br>
  <p style="font-size: 20px; color: #000">Loading...</p>
</ngx-spinner>
<app-footer></app-footer>
