<app-adminheader></app-adminheader>
<!-- Start car breadcrumb row -->
<div class="container-fluid cars_categery_row bt_bg">
  <div class="container">
    <!-- <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/cars">Cars</a></li>
          <li class="breadcrumb-item active" aria-current="page">Cars in Telangana</li>
        </ol>
      </nav>
    </div> -->
    <!-- <div class="row">
      <div class="wishlist_tabs_row">
        <ol>
          <li><a routerLink="/post">Sell Products</a></li>
          <li class="active"><a routerLink="/wishlist">Wishlist</a></li>
        </ol>
      </div>
    </div> -->
    <h3 style="text-align: center; margin-top: 15px;">Wishlist</h3>
  </div>
</div>
<!-- End car categery row -->

<!-- Start categery row -->
<div class="container-fluid bb_bg">
  <div class="container">
    <div class="row">
      <!-- start right categery body -->
      <div class="col-xs-12 col-lg-12">
        <div class="row pl_10">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <div class="items_colum">
              <div class="item_img_row">
                <div class="favourite_icon_row">
                  <a routerLink="/#">
                    <i class="fa fa-heart-o favourite_icon" aria-hidden="true"></i>
                  </a>
                </div>
                <a routerLink="/fordendevour"><img src="assets/images/surya_t_f.jpg" /></a>
              </div>
              <a routerLink="/#">
                <div class="item_content">
                  <h5 class="item_title_height">Surya Table Fun</h5>
                  <p class="red"><i class="fa fa-inr" aria-hidden="true"></i> 15,000</p>
                  <p class="item_title_width">Good condition</p>
                  <p>2018</p>
                  <p class="item_title_height"><i class="fa fa-map-marker" aria-hidden="true"></i> Kondapur, Telangana
                  </p>
                  <p class="right">Yesterday</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <div class="items_colum">
              <div class="item_img_row">
                <div class="favourite_icon_row">
                  <a routerLink="/#">
                    <i class="fa fa-heart-o favourite_icon" aria-hidden="true"></i>
                  </a>
                </div>
                <a routerLink="/fordendevour"><img src="assets/images/sofa_3.jpg" /></a>
              </div>
              <a routerLink="/#">
                <div class="item_content">
                  <h5 class="item_title_height">3 Seater Sofa</h5>
                  <p class="red"><i class="fa fa-inr" aria-hidden="true"></i> 5,000</p>
                  <p class="item_title_width">Good condition</p>
                  <p>2018</p>
                  <p class="item_title_height"><i class="fa fa-map-marker" aria-hidden="true"></i> Kondapur, Telangana
                  </p>
                  <p class="right">Nov 04</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <div class="items_colum">
              <div class="item_img_row">
                <div class="favourite_icon_row">
                  <a routerLink="/#">
                    <i class="fa fa-heart-o favourite_icon" aria-hidden="true"></i>
                  </a>
                </div>
                <a routerLink="/fordendevour"><img src="assets/images/computer-02.jpg" /></a>
              </div>
              <a routerLink="/#">
                <div class="item_content">
                  <h5 class="item_title_height">Computer</h5>
                  <p class="red"><i class="fa fa-inr" aria-hidden="true"></i> 35,000</p>
                  <p class="item_title_width">Good condition all accessories...</p>
                  <p>2018</p>
                  <p class="item_title_height"><i class="fa fa-map-marker" aria-hidden="true"></i> Kondapur, Telangana
                  </p>
                  <p class="right">Nov 21</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <div class="items_colum">
              <div class="item_img_row">
                <div class="favourite_icon_row">
                  <a routerLink="/#">
                    <i class="fa fa-heart-o favourite_icon" aria-hidden="true"></i>
                  </a>
                </div>
                <a routerLink="/fordendevour"><img src="assets/images/ty1.jpg" /></a>
              </div>
              <a routerLink="/#">
                <div class="item_content">
                  <h5 class="item_title_height">Dell</h5>
                  <p class="red"><i class="fa fa-inr" aria-hidden="true"></i> 30,000</p>
                  <p class="item_title_width">Good condition all accessories...</p>
                  <p>2018</p>
                  <p class="item_title_height"><i class="fa fa-map-marker" aria-hidden="true"></i> Kondapur, Telangana
                  </p>
                  <p class="right">Yesterday</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <div class="items_colum">
              <div class="item_img_row">
                <div class="favourite_icon_row">
                  <a routerLink="/#">
                    <i class="fa fa-heart-o favourite_icon" aria-hidden="true"></i>
                  </a>
                </div>
                <a routerLink="/fordendevour"><img src="assets/images/ty2.jpg" /></a>
              </div>
              <a routerLink="/#">
                <div class="item_content">
                  <h5 class="item_title_height">Pulsar F 220</h5>
                  <p class="red"><i class="fa fa-inr" aria-hidden="true"></i> 40,000</p>
                  <p class="item_title_width">Good condition</p>
                  <p>20,000 - 30,000 KM</p>
                  <p class="item_title_height"><i class="fa fa-map-marker" aria-hidden="true"></i> Kondapur, Telangana
                  </p>
                  <p class="right">Yesterday</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <div class="items_colum">
              <div class="item_img_row">
                <div class="favourite_icon_row">
                  <a routerLink="/#">
                    <i class="fa fa-heart-o favourite_icon" aria-hidden="true"></i>
                  </a>
                </div>
                <a routerLink="/fordendevour"><img src="assets/images/r15.jpg" /></a>
              </div>
              <a routerLink="/#">
                <div class="item_content">
                  <h5 class="item_title_height">Yemaha R15</h5>
                  <p class="red"><i class="fa fa-inr" aria-hidden="true"></i> 65,000</p>
                  <p class="item_title_width">Good condition all accessories...</p>
                  <p>15,000 - 25,000 KM</p>
                  <p class="item_title_height"><i class="fa fa-map-marker" aria-hidden="true"></i> Kondapur, Telangana
                  </p>
                  <p class="right">Today</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <div class="items_colum">
              <div class="item_img_row">
                <div class="favourite_icon_row">
                  <a routerLink="/#">
                    <i class="fa fa-heart-o favourite_icon" aria-hidden="true"></i>
                  </a>
                </div>
                <a routerLink="/fordendevour"><img src="assets/images/rn-01.jpg" /></a>
              </div>
              <a routerLink="/#">
                <div class="item_content">
                  <h5 class="item_title_height">Royal Enfield</h5>
                  <p class="red"><i class="fa fa-inr" aria-hidden="true"></i> 90,000</p>
                  <p class="item_title_width">Good condition all accessories...</p>
                  <p>2018</p>
                  <p class="item_title_height"><i class="fa fa-map-marker" aria-hidden="true"></i> Kondapur, Telangana
                  </p>
                  <p class="right">Yesterday</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <div class="items_colum">
              <div class="item_img_row">
                <div class="favourite_icon_row">
                  <a routerLink="/#">
                    <i class="fa fa-heart-o favourite_icon" aria-hidden="true"></i>
                  </a>
                </div>
                <a routerLink="/fordendevour"><img src="assets/images/hero_cycle.jpg" /></a>
              </div>
              <a routerLink="/#">
                <div class="item_content">
                  <h5 class="item_title_height">Hero Bicycle</h5>
                  <p class="red"><i class="fa fa-inr" aria-hidden="true"></i> 50,000</p>
                  <p class="item_title_width">Good condition all accessories...</p>
                  <p>2018</p>
                  <p class="item_title_height"><i class="fa fa-map-marker" aria-hidden="true"></i> Kondapur, Telangana
                  </p>
                  <p class="right">Yesterday</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="view_btn center"> 
            <button type="button" class="btn btn-danger">View More</button>
          </div>
        </div> -->
      </div>
      <!-- End right categery body -->
    </div>
  </div>
</div>
<!-- End categery row -->

<app-footer></app-footer>
