<app-header></app-header>

<!-- <div class="container-fluid carousel_row">
  <div class="container">
    <div class="row">
      <div class="carousel_title">
        <h1>Buy or Sell
          <br>Find anything anywhere
          <br> on <b>TradeX</b></h1>
      </div>
    </div>
  </div>
</div> -->

<div id="demo2" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo2" data-slide-to="0" class="active"></li>
    <li data-target="#demo2" data-slide-to="1"></li>
    <li data-target="#demo2" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/banner-01.jpg" alt="" title="">
      <div class="carousel-caption">
        <div class="carousel_title">
          <h1>Buy or Sell
            <br>Find anything anywhere
            <br> on <b>Genie</b></h1>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/images/banner-02.jpg" alt="" title="">
      <div class="carousel-caption">
        <div class="carousel_title">
          <h1>Buy or Sell
            <br>Find anything anywhere
            <br> on <b>Genie</b></h1>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/images/banner-03.jpg" alt="" title="">
      <div class="carousel-caption">
        <div class="carousel_title">
          <h1>Buy or Sell
            <br>Find anything anywhere
            <br> on <b>Genie</b></h1>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo2" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo2" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<!-- End Carousel row -->

<!-- Start Recommended row -->
<div class="container-fluid recommended_row pb_30">
  <div class="container">
    <div class="row">
      <div class="main_title pt_40">
        <h2 class="mf_15">Latest Deals</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="items_colum">
          <div class="item_img_row">
            <div class="favourite_icon_row">
              <a routerLink="/#">
                <i class="fa fa-heart-o favourite_icon" aria-hidden="true"></i>
              </a>
            </div>
            <a routerLink="/fordendevour"><img src="assets/images/ty1.jpg" /></a>
          </div>
          <a routerLink="/fordendevour">
            <div class="item_content">
              <h5 class="item_title_height">Dell</h5>
              <p class="red"><i class="fa fa-inr" aria-hidden="true"></i> 30,000</p>
              <p class="item_title_width">Good condition all accessories...</p>
              <p>2018</p>
              <p class="item_title_height"><i class="fa fa-map-marker" aria-hidden="true"></i> Kondapur, Telangana</p>
              <!-- <p class="right">Today</p> -->
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="items_colum">
          <div class="item_img_row">
            <div class="favourite_icon_row">
              <a routerLink="/#">
                <i class="fa fa-heart-o favourite_icon" aria-hidden="true"></i>
              </a>
            </div>
            <a routerLink="/#"><img src="assets/images/ty2.jpg" /></a>
          </div>
          <a routerLink="/#">
            <div class="item_content">
              <h5 class="item_title_height">Pulsar F 220</h5>
              <p class="red"><i class="fa fa-inr" aria-hidden="true"></i> 40,000</p>
              <p class="item_title_width">Good condition</p>
              <p>20,000 - 30,000 KM</p>
              <p>2018</p>
              <p class="item_title_height"><i class="fa fa-map-marker" aria-hidden="true"></i> Kondapur, Telangana</p>
              <!-- <p class="right">Yesterday</p> -->
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="items_colum">
          <div class="item_img_row">
            <div class="favourite_icon_row">
              <a routerLink="/#">
                <i class="fa fa-heart-o favourite_icon" aria-hidden="true"></i>
              </a>
            </div>
            <a routerLink="/#"><img src="assets/images/r15.jpg" /></a>
          </div>
          <a routerLink="/#">
            <div class="item_content">
              <h5 class="item_title_height">Yemaha R15</h5>
              <p class="red"><i class="fa fa-inr" aria-hidden="true"></i> 65,000</p>
              <p class="item_title_width">Good condition</p>
              <p>15,000 - 25,000 KM</p>
              <p>2018</p>
              <p class="item_title_height"><i class="fa fa-map-marker" aria-hidden="true"></i> Kondapur, Telangana</p>
              <!-- <p class="right">Nov 02</p> -->
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="items_colum">
          <div class="item_img_row">
            <div class="favourite_icon_row">
              <a routerLink="/#">
                <i class="fa fa-heart-o favourite_icon" aria-hidden="true"></i>
              </a>
            </div>
            <a routerLink="/#"><img src="assets/images/surya_t_f.jpg" /></a>
          </div>
          <a routerLink="/#">
            <div class="item_content">
              <h5 class="item_title_height">Surya Table Fun</h5>
              <p class="red"><i class="fa fa-inr" aria-hidden="true"></i> 15,000</p>
              <p class="item_title_width">Good condition all accessories...</p>
              <p>2018</p>
              <p class="item_title_height"><i class="fa fa-map-marker" aria-hidden="true"></i> Kondapur, Telangana</p>
              <!-- <p class="right">Today</p> -->
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="items_colum">
          <div class="item_img_row">
            <div class="favourite_icon_row">
              <a routerLink="/#">
                <i class="fa fa-heart-o favourite_icon" aria-hidden="true"></i>
              </a>
            </div>
            <a routerLink="/#"><img src="assets/images/sofa_3.jpg" /></a>
          </div>
          <a routerLink="/#">
            <div class="item_content">
              <h5 class="item_title_height">3 Seater Sofa</h5>
              <p class="red"><i class="fa fa-inr" aria-hidden="true"></i> 5,000</p>
              <p class="item_title_width">Good condition</p>
              <p>2018</p>
              <p class="item_title_height"><i class="fa fa-map-marker" aria-hidden="true"></i> Kondapur, Telangana</p>
              <!-- <p class="right">Today</p> -->
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="items_colum">
          <div class="item_img_row">
            <div class="favourite_icon_row">
              <a routerLink="/#">
                <i class="fa fa-heart-o favourite_icon" aria-hidden="true"></i>
              </a>
            </div>
            <a routerLink="/#"><img src="assets/images/computer-02.jpg" /></a>
          </div>
          <a routerLink="/#">
            <div class="item_content">
              <h5 class="item_title_height">Computer</h5>
              <p class="red"><i class="fa fa-inr" aria-hidden="true"></i> 35,000</p>
              <p class="item_title_width">Good condition all accessories...</p>
              <p>2018</p>
              <p class="item_title_height"><i class="fa fa-map-marker" aria-hidden="true"></i> Kondapur, Telangana</p>
              <!-- <p class="right">Today</p> -->
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="items_colum">
          <div class="item_img_row">
            <div class="favourite_icon_row">
              <a routerLink="/#">
                <i class="fa fa-heart-o favourite_icon" aria-hidden="true"></i>
              </a>
            </div>
            <a routerLink="/#"><img src="assets/images/rn-01.jpg" /></a>
          </div>
          <a routerLink="/#">
            <div class="item_content">
              <h5 class="item_title_height">Royal Enfield</h5>
              <p class="red"><i class="fa fa-inr" aria-hidden="true"></i> 90,000</p>
              <p class="item_title_width">Good condition</p>
              <p>20,000 - 30,000 KM</p>
              <p>2018</p>
              <p class="item_title_height"><i class="fa fa-map-marker" aria-hidden="true"></i> Kondapur, Telangana</p>
              <!-- <p class="right">Yesterday</p> -->
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="items_colum">
          <div class="item_img_row">
            <div class="favourite_icon_row">
              <a routerLink="/#">
                <i class="fa fa-heart-o favourite_icon" aria-hidden="true"></i>
              </a>
            </div>
            <a routerLink="/#"><img src="assets/images/hero_cycle.jpg" /></a>
          </div>
          <a routerLink="/#">
            <div class="item_content">
              <h5 class="item_title_height">Hero Bicycle</h5>
              <p class="red"><i class="fa fa-inr" aria-hidden="true"></i> 50,000</p>
              <p class="item_title_width">Good condition all accessories...</p>
              <p>2018</p>
              <p class="item_title_height"><i class="fa fa-map-marker" aria-hidden="true"></i> Kondapur, Telangana</p>
              <!-- <p class="right">Yesterday</p> -->
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="view_btn center">
        <button type="button" class="btn btn-clr">View More</button>
      </div>
    </div>
  </div>
</div>
<!-- End Recommended row -->

<!-- Start Carousel row -->
<!-- <div class="container-fluid pb_30">
  <div class="container">
    <div class="row">
      <div class="main_title pt_40">
        <h2 class="mf_15">Recommended Appliances</h2>
      </div>
    </div>
  </div>
</div>
<div id="demo" class="carousel slide pb_50" data-ride="carousel">
   
  <ul class="carousel-indicators indica_color_red">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/carousel_2.jpg" alt="">
    </div>
    <div class="carousel-item">
      <img src="assets/images/carousel_3.jpg" alt="">
    </div>
    <div class="carousel-item">
      <img src="assets/images/carousel_4.jpg" alt="">
    </div>
  </div>
  
</div> -->
<div class="clear"></div>
<!-- End Carousel row -->


<!-- Start Recommended New row -->
<div class="container-fluid recommended_row pb_30">
  <div class="container">
    <div class="row">
      <div class="main_title pt_40">
        <h2 class="mf_15">Recommended Deals</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="items_colum">
          <div class="item_img_row">
            <div class="favourite_icon_row">
              <a routerLink="/#">
                <i class="fa fa-heart-o favourite_icon" aria-hidden="true"></i>
              </a>
            </div>
            <a routerLink="/#"><img src="assets/images/ty1.jpg" /></a>
          </div>
          <a routerLink="/#">
            <div class="item_content">
              <h5 class="item_title_height">Dell</h5>
              <p class="red"><i class="fa fa-inr" aria-hidden="true"></i> 30,000</p>
              <p class="item_title_width">Good condition all accessories...</p>
              <p>2018</p>
              <p class="item_title_height"><i class="fa fa-map-marker" aria-hidden="true"></i> Kondapur, Telangana</p>
              <!-- <p class="right">Yesterday</p> -->
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="items_colum">
          <div class="item_img_row">
            <div class="favourite_icon_row">
              <a routerLink="/#">
                <i class="fa fa-heart-o favourite_icon" aria-hidden="true"></i>
              </a>
            </div>
            <a routerLink="/#"><img src="assets/images/ty2.jpg" /></a>
          </div>
          <a routerLink="/#">
            <div class="item_content">
              <h5 class="item_title_height">Pulsar F 220</h5>
              <p class="red"><i class="fa fa-inr" aria-hidden="true"></i> 40,000</p>
              <p class="item_title_width">Good condition</p>
              <p>20,000 - 30,000 KM</p>
              <p>2018</p>
              <p class="item_title_height"><i class="fa fa-map-marker" aria-hidden="true"></i> Kondapur, Telangana</p>
              <!-- <p class="right">Yesterday</p> -->
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="items_colum">
          <div class="item_img_row">
            <div class="favourite_icon_row">
              <a routerLink="/#">
                <i class="fa fa-heart-o favourite_icon" aria-hidden="true"></i>
              </a>
            </div>
            <a routerLink="/#"><img src="assets/images/r15.jpg" /></a>
          </div>
          <a routerLink="/#">
            <div class="item_content">
              <h5 class="item_title_height">Yemaha R15</h5>
              <p class="red"><i class="fa fa-inr" aria-hidden="true"></i> 65,000</p>
              <p class="item_title_width">Good condition</p>
              <p>15,000 - 25,000 KM</p>
              <p>2019</p>
              <p class="item_title_height"><i class="fa fa-map-marker" aria-hidden="true"></i> Kondapur, Telangana</p>
              <!-- <p class="right">Today</p> -->
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="items_colum">
          <div class="item_img_row">
            <div class="favourite_icon_row">
              <a routerLink="/#">
                <i class="fa fa-heart-o favourite_icon" aria-hidden="true"></i>
              </a>
            </div>
            <a routerLink="/#"><img src="assets/images/surya_t_f.jpg" /></a>
          </div>
          <a routerLink="/#">
            <div class="item_content">
              <h5 class="item_title_height">Surya Table Fun</h5>
              <p class="red"><i class="fa fa-inr" aria-hidden="true"></i> 15,000</p>
              <p class="item_title_width">Good condition</p>
              <p>2018</p>
              <p class="item_title_height"><i class="fa fa-map-marker" aria-hidden="true"></i> Kondapur, Telangana</p>
              <!-- <p class="right">Yesterday</p> -->
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="items_colum">
          <div class="item_img_row">
            <div class="favourite_icon_row">
              <a routerLink="/#">
                <i class="fa fa-heart-o favourite_icon" aria-hidden="true"></i>
              </a>
            </div>
            <a routerLink="/#"><img src="assets/images/sofa_3.jpg" /></a>
          </div>
          <a routerLink="/#">
            <div class="item_content">
              <h5 class="item_title_height">3 Seater Sofa</h5>
              <p class="red"><i class="fa fa-inr" aria-hidden="true"></i> 5,000</p>
              <p class="item_title_width">Good condition</p>
              <p>2018</p>
              <p class="item_title_height"><i class="fa fa-map-marker" aria-hidden="true"></i> Kondapur, Telangana</p>
              <!-- <p class="right">Nov 04</p> -->
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="items_colum">
          <div class="item_img_row">
            <div class="favourite_icon_row">
              <a routerLink="/#">
                <i class="fa fa-heart-o favourite_icon" aria-hidden="true"></i>
              </a>
            </div>
            <a routerLink="/#"><img src="assets/images/computer-02.jpg" /></a>
          </div>
          <a routerLink="/#">
            <div class="item_content">
              <h5 class="item_title_height">Computer</h5>
              <p class="red"><i class="fa fa-inr" aria-hidden="true"></i> 35,000</p>
              <p class="item_title_width">Good condition all accessories...</p>
              <p>2018</p>
              <p class="item_title_height"><i class="fa fa-map-marker" aria-hidden="true"></i> Kondapur, Telangana</p>
              <!-- <p class="right">Nov 21</p> -->
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="items_colum">
          <div class="item_img_row">
            <div class="favourite_icon_row">
              <a routerLink="/#">
                <i class="fa fa-heart-o favourite_icon" aria-hidden="true"></i>
              </a>
            </div>
            <a routerLink="/#"><img src="assets/images/rn-01.jpg" /></a>
          </div>
          <a routerLink="/#">
            <div class="item_content">
              <h5 class="item_title_height">Royal Enfield</h5>
              <p class="red"><i class="fa fa-inr" aria-hidden="true"></i> 90,000</p>
              <p class="item_title_width">Good condition</p>
              <p>20,000 - 30,000 KM</p>
              <p>2018</p>
              <p class="item_title_height"><i class="fa fa-map-marker" aria-hidden="true"></i> Kondapur, Telangana</p>
              <!-- <p class="right">Yesterday</p> -->
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="items_colum">
          <div class="item_img_row">
            <div class="favourite_icon_row">
              <a routerLink="/#">
                <i class="fa fa-heart-o favourite_icon" aria-hidden="true"></i>
              </a>
            </div>
            <a routerLink="/#"><img src="assets/images/hero_cycle.jpg" /></a>
          </div>
          <a routerLink="/#">
            <div class="item_content">
              <h5 class="item_title_height">Hero Bicycle</h5>
              <p class="red"><i class="fa fa-inr" aria-hidden="true"></i> 50,000</p>
              <p class="item_title_width">Good condition</p>
              <p>2018</p>
              <p class="item_title_height"><i class="fa fa-map-marker" aria-hidden="true"></i> Kondapur, Telangana</p>
              <!-- <p class="right">Yesterday</p> -->
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="view_btn center">
        <button type="button" class="btn btn-clr">View More</button>
      </div>
    </div>
  </div>
</div>
<!-- End Recommended New row -->

<!-- Start the TradeX row -->
<div class="container-fluid the_tradex_bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="the_tradex_left_img">
          <img src="assets/images/the-genie.png"/>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="the_tradex_right_content">
          <h1>Genie</h1>
          <p>Buy, sell and find just about anything using the app on your mobile.</p>
          <div class="apps_row">
            <a routerLink="/#"><img class="g_play_img" src="assets/images/g_play.png" title="Google Play"
                alt="Google Play" /></a>
            <!-- <a routerLink="/#"><img src="assets/images/app_store.png" title="App Store" alt="App Store" /></a> -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(255,255,255,1)" size="medium" color="#1B6CA8" type="triangle-skew-spin"><br>
  <p style="font-size: 20px; color: #000">Loading...</p>
</ngx-spinner>
<app-footer></app-footer>
