<app-header></app-header>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Site Map</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid bb_bg">
  <div class="container">
    <div class="center">
      <h2 class="pl_10">Site Map</h2>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="sitemap_row pt-3">
          <ul>
            <li>All Categories </li>
            <ul>
              <li><a routerLink="/cars">Cars</a></li>
              <ul>
                <li><a routerLink="/cars">Cars</a></li>
                <li><a routerLink="/trucks">Spare Parts</a></li>
              </ul>
              <li><a routerLink="/trucks">Commercial Vehicles</a></li>
              <ul>
                <li><a routerLink="/trucks">Trucks</a></li>
              </ul>
              <li><a routerLink="/bikes">Bikes</a></li>
              <ul>
                <li><a routerLink="/bikes">Motorcycles</a></li>
                <li><a routerLink="/bikes">Scooters</a></li>
                <li><a routerLink="/bikes">Spare Parts</a></li>
                <li><a routerLink="/bikes">Bicycles</a></li>
              </ul>
              <li><a routerLink="/electronics">Electronics</a></li>
              <ul>
                <li><a routerLink="/electronics">TVs, Video - Audio</a></li>
                <li><a routerLink="/electronics">Computers & Laptops</a></li>
                <li><a routerLink="/electronics">Cameras & Lenses</a></li>
                <li><a routerLink="/electronics">Games & Entertainment</a></li>
                <li><a routerLink="/electronics">Hard Disks, Printers & Monitors</a></li>
                <li><a routerLink="/electronics">AC's</a></li>
                <li><a routerLink="/electronics">Computer Accessories</a></li>
                <li><a routerLink="/electronics">Fridges</a></li>
                <li><a routerLink="/electronics">Washing Machines</a></li>
              </ul>
              <li><a routerLink="/mobiles">Mobiles</a></li>
              <ul>
                <li><a routerLink="/mobiles">Mobile Phones</a></li>
                <li><a routerLink="/mobiles">Tablets</a></li>
                <li><a routerLink="/mobiles">Mobile Accessories</a></li>
              </ul>
              <li><a routerLink="/home-appliances">Home Appliances </a></li>
              <ul>
                <li><a routerLink="/home-appliances">Kitchen Storage & Containers</a></li>
                <li><a routerLink="/home-appliances">Home Lighting</a></li>
                <li><a routerLink="/home-appliances">Kitchen, Cookware & Servewear</a></li>
                <li><a routerLink="/home-appliances">Tools</a></li>
                <li><a routerLink="/home-appliances">Others</a></li>
              </ul>
              <li><a routerLink="/furniture">Furniture </a></li>
              <ul>
                <li><a routerLink="/furniture">Sofa & Dining</a></li>
                <li><a routerLink="/furniture">Beds & Wardrobes</a></li>
                <li><a routerLink="/furniture">Home Decor & Garden</a></li>
                <li><a routerLink="/furniture">Kids Furnituren</a></li>
                <li><a routerLink="/furniture">Other Household Items</a></li>
              </ul>
              <li><a routerLink="/properties">Properties </a></li>
              <ul>
                <li><a routerLink="/properties">For Sale: Houses & Apartments</a></li>
                <li><a routerLink="/properties">For Rent: Houses & Apartments</a></li>
                <li><a routerLink="/properties">Lands & Plots</a></li>
                <li><a routerLink="/properties">For Rent: Shops & Offices</a></li>
                <li><a routerLink="/properties">For Sale: Shops & Offices</a></li>
                <li><a routerLink="/properties">PG & Guest Houses</a></li>
              </ul>
              <li><a routerLink="/fashion">Fashion </a></li>
              <ul>
                <li><a routerLink="/fashion">Men</a></li>
                <li><a routerLink="/fashion">Women</a></li>
                <li><a routerLink="/fashion">Kids</a></li>
              </ul>
              <li><a routerLink="/jobs">Jobs </a></li>
              <ul>
                <li><a routerLink="/jobs">Data entry & Back Office</a></li>
                <li><a routerLink="/jobs">Sales & Marketing</a></li>
                <li><a routerLink="/jobs">BPO & Telecaller</a></li>
                <li><a routerLink="/jobs">Driver</a></li>
                <li><a routerLink="/jobs">Office Assistant</a></li>
                <li><a routerLink="/jobs">Teacher</a></li>
                <li><a routerLink="/jobs">Receptionist & Front office</a></li>
                <li><a routerLink="/jobs">Operator & Technician</a></li>
                <li><a routerLink="/jobs">Hotel & Travel Executive</a></li>
                <li><a routerLink="/jobs">Accountant</a></li>
                <li><a routerLink="/jobs">Other Jobs</a></li>
              </ul>
              <li><a routerLink="/sports-hobbies">Sports and Hobbies </a></li>
              <ul>
                <li><a routerLink="/sports-hobbies">Gym & Fitness</a></li>
                <li><a routerLink="/sports-hobbies">Musical Instrument</a></li>
                <li><a routerLink="/sports-hobbies">Musical Instrument</a></li>
                <li><a routerLink="/sports-hobbies">Sports Equipments</a></li>
                <li><a routerLink="/sports-hobbies">Others</a></li>
              </ul>
            </ul>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="sitemap_row pt-3">
          <ul>
            <li><a routerLink="/#">Post your Ad</a></li>
            <ul>
              <li><a routerLink="/post">Choose A Category</a></li>
              <li><a routerLink="/post-cars">Selected Category</a></li>
            </ul>
            
            <li><a routerLink="/#">My Account</a></li>
            <ul>
              <li><a routerLink="/myposts"> My Posts</a></li>
              <li><a routerLink="/subscribe-with-us"> Subscribe with Us</a></li>
              <li><a routerLink="/subscriptions">My Subscriptions</a></li>
              <li><a routerLink="/chat">Chat History</a></li>
              <li><a routerLink="/wishlist"> Wishlist</a></li>
              <li><a routerLink="/support"> Support</a></li>
              <li><a routerLink="/disclaimer"> Disclaimer</a></li>
              <li><a routerLink="/changepwd"> Change password</a></li>
              <li><a routerLink="/#"> Logout</a></li>
            </ul>
            <li><a routerLink="/about">About Us</a></li>
            <li><a routerLink="/privacypolicy">Privacy Policy</a></li>
            <li><a routerLink="/termsandconditions">Terms & Conditions</a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
            <li><a routerLink="/sitemap">Site Map</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(255,255,255,1)" size="medium" color="#1B6CA8" type="triangle-skew-spin"><br>
  <p style="font-size: 20px; color: #000">Loading...</p>
</ngx-spinner>
<app-footer></app-footer>
