
<div class="post_top_nav">
  <!-- <a routerLink="/post"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> -->
  <a routerLink="/"><img src="assets/images/geneni_logo.png" title="Genie" alt="genie" /></a>
</div>
  
  <!-- <div class="container-fluid bb_bg">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <h3 class="center pt-1 font-weight-bold">POST YOUR AD</h3>
          <h5 class="pt-4">CHOOSE A CATEGORY</h5>
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <div class="post_items_colum">
                <a routerLink="/post-cars">
                  <img src="assets/images/cars.svg" title="Cars" alt="Cars" />
                  <p>Cars</p>
                </a>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <div class="post_items_colum">
                <a routerLink="/post-commercial-vehicles">
                  <img src="assets/images/trucks.svg" title="Commercial Vehicles" alt="Commercial Vehicles" />
                  <p>Commercial Vehicles</p>
                </a>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <div class="post_items_colum">
                <a routerLink="/post-bikes">
                  <img src="assets/images/bikes.svg" title="Bikes" alt="Bikes" />
                  <p>Bikes</p>
                </a>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <div class="post_items_colum">
                <a routerLink="/post-electronics">
                  <img src="assets/images/electronics.svg" title="Electronics" alt="Electronics" />
                  <p>Electronics</p>
                </a>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <div class="post_items_colum">
                <a routerLink="/post-cars">
                  <img src="assets/images/mobile.svg" title="Mobiles" alt="Mobiles" />
                  <p>Mobiles</p>
                </a>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <div class="post_items_colum">
                <a routerLink="/post-cars">
                  <img src="assets/images/home-appliances.svg" title="Home Appliances" alt="Home Appliances" />
                  <p>Home Appliances</p>
                </a>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <div class="post_items_colum">
                <a routerLink="/post-cars">
                  <img src="assets/images/furniture.svg" title="Furniture" alt="Furniture" />
                  <p>Furniture</p>
                </a>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <div class="post_items_colum">
                <a routerLink="/post-cars">
                  <img src="assets/images/tools.svg" title="Tools" alt="Tools" />
                  <p>Tools</p>
                </a>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <div class="post_items_colum">
                <a routerLink="/post-cars">
                  <img src="assets/images/bicycle.svg" title="Cycles" alt="Cycles" />
                  <p>Cycles</p>
                </a>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <div class="post_items_colum">
                <a routerLink="/post-cars">
                  <img src="assets/images/job-search.svg" title="Jobs" alt="Jobs" />
                  <p>Jobs</p>
                </a>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <div class="post_items_colum">
                <a routerLink="/post-cars">
                  <img src="assets/images/computer.svg" title="Computers" alt="Computers" />
                  <p>Computers</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  
  <div class="container-fluid bb_bg">
    <div class="container">
      <div id="accordion">
        <!-- <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <i class="fa fa-car" aria-hidden="true"></i>
              <button class="btn btn-link" data-toggle="collapse" data-target="#cars" aria-expanded="true" aria-controls="collapseOne">
              <b>Cars</b>
              </button>
            </h5>
          </div>
  
          <div id="cars" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a routerLink="/post-cars">Cras</a></li>
                <li class="list-group-item"><a routerLink="/spareparts">Spare Parts</a></li>
              </ul>
          </div>
        </div> -->
        <h3 style="text-align: center; padding-top: 48px;">Post your Ad</h3>
        <p style="margin-left:18%;"><b>Choose A Category</b></p>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <i class="fa fa-car" aria-hidden="true"></i>
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#cars" aria-expanded="false" aria-controls="collapseTwo">
                <b>Cars</b>
              </button>
            </h5>
          </div>
          <div id="cars" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a routerLink="/post-cars">Cars</a></li>
                <li class="list-group-item"><a routerLink="/spareparts">Spare Parts</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <i class="fa fa-truck" aria-hidden="true"></i>
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#commercial-vehicles" aria-expanded="false" aria-controls="collapseTwo">
                <b>Commercial Vehicles</b>
              </button>
            </h5>
          </div>
          <div id="commercial-vehicles" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a routerLink="/post-commercial-vehicles">Trucks</a></li>
                <li class="list-group-item"><a routerLink="/spareparts">Spare Parts</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <i class="fa fa-motorcycle" aria-hidden="true"></i>
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#bikes" aria-expanded="false" aria-controls="collapseThree">
                <b>Bikes</b>
              </button>
            </h5>
          </div>
          <div id="bikes" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a routerLink="/post-bikes">Motorcycles</a></li>
                <li class="list-group-item"><a routerLink="/post-bikes">Scooters</a></li>
                <li class="list-group-item"><a routerLink="/post-bikes">Bicycles</a></li>
                <li class="list-group-item"><a routerLink="/post-bikesspareparts">Spare Parts</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <i class="fa fa-desktop" aria-hidden="true"></i>
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#electronics" aria-expanded="false" aria-controls="collapseThree">
                <b>Electronics</b>
              </button>
            </h5>
          </div>
          <div id="electronics" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a routerLink="/post-electronics">TV, Video - Audio</a></li>
                <li class="list-group-item"><a routerLink="/post-electronics">Laptop & Computers</a></li>
                <li class="list-group-item"><a routerLink="/post-electronics">Cameras & Lenses</a></li>
                <li class="list-group-item"><a routerLink="/post-electronics">Games & Entertainments</a></li>
                <li class="list-group-item"><a routerLink="/post-electronics">Hard Disks, Printers & Monitors</a></li>
                <li class="list-group-item"><a routerLink="/post-electronics">AC's</a></li>
                <li class="list-group-item"><a routerLink="/post-electronics">Computer Accessories</a></li>
                <li class="list-group-item"><a routerLink="/post-electronics">Fridges</a></li>
                <li class="list-group-item"><a routerLink="/post-electronics">Washing Machines</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <i class="fa fa-mobile" aria-hidden="true"></i>
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#mobiles" aria-expanded="false" aria-controls="collapseThree">
                <b>Mobiles</b>
              </button>
            </h5>
          </div>
          <div id="mobiles" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a routerLink="/post-mobiles">Mobiles</a></li>
                <li class="list-group-item"><a routerLink="/post-mobiles">Tablets</a></li>
                <li class="list-group-item"><a routerLink="/post-mobileaccessories">Mobiles Accessories</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <i class="fa fa-home" aria-hidden="true"></i>
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#home-appliances" aria-expanded="false" aria-controls="collapseThree">
                <b>Home Appliances</b>
              </button>
            </h5>
          </div>
          <div id="home-appliances" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a routerLink="/kitchen-storage">Kitchen Storage & Containers</a></li>
                  <li class="list-group-item"><a routerLink="/kitchen-storage">Home Lighting</a></li>
                  <li class="list-group-item"><a routerLink="/kitchen-cookware">Kitchen Cookware & servewear</a></li>
                  <li class="list-group-item"><a routerLink="/kitchen-storage">Tools</a></li>
                  <li class="list-group-item"><a routerLink="/kitchen-storage">Others</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <i class="fa fa-bed" aria-hidden="true"></i>
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#furniture" aria-expanded="false" aria-controls="collapseThree">
                <b>Furniture</b>
              </button>
            </h5>
          </div>
          <div id="furniture" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a routerLink="/sofa-dining">Sofa & Dining</a></li>
                <li class="list-group-item"><a routerLink="/sofa-dining">Beds & Wordrobes</a></li>
                <li class="list-group-item"><a routerLink="/sofa-dining">Home Decor & Gardens</a></li>
                <li class="list-group-item"><a routerLink="/sofa-dining">Kids Furniture</a></li>
                <li class="list-group-item"><a routerLink="/sofa-dining">Other Household Items</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <i class="fa fa-futbol-o" aria-hidden="true"></i>
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#sports-hobbies" aria-expanded="false" aria-controls="collapseThree">
                <b>Sports and Hobbies</b>
              </button>
            </h5>
          </div>
          <div id="sports-hobbies" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a routerLink="/gym-ftness">Gym & Fitness</a></li>
                <li class="list-group-item"><a routerLink="/musical-instrument">Musical Instruments</a></li>
                <li class="list-group-item"><a routerLink="/sports-equipments">sports and Equipments</a></li>
                <li class="list-group-item"><a routerLink="/others">Others</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <i class="fa fa-product-hunt" aria-hidden="true"></i>
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#properties" aria-expanded="false" aria-controls="collapseThree">
                <b>Properties</b>
              </button>
            </h5>
          </div>
          <div id="properties" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a routerLink="/sale-house-appartments">For Sale:Houses & Apartments</a></li>
                <li class="list-group-item"><a routerLink="/rent-house-appartments">For Rent: Houses & Apartments</a></li>
                <li class="list-group-item"><a routerLink="/lands-plots">Lands & Plots</a></li>
                <li class="list-group-item"><a routerLink="/rent-shops">For Rent: Shops & Officers</a></li>
                <li class="list-group-item"><a routerLink="/sale-shops">For Sale: Shops & Officers</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <i class="fa fa-male" aria-hidden="true"></i>
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#fashion" aria-expanded="false" aria-controls="collapseThree">
                <b>Fashion</b>
              </button>
            </h5>
          </div>
          <div id="fashion" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a routerLink="/men">Men</a></li>
                <li class="list-group-item"><a routerLink="/women">Women</a></li>
                <li class="list-group-item"><a routerLink="/kids">Kids</a></li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <i class="fa fa-male" aria-hidden="true"></i>
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#jobs" aria-expanded="false" aria-controls="collapseThree">
                <b>Jobs</b>
              </button>
            </h5>
          </div>
          <div id="jobs" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a routerLink="/part-time-jobs">Part-Tome jobs</a></li>
                <li class="list-group-item"><a routerLink="/full-time-jobs">Full-Time Jobs</a></li>
              </ul>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- Start footer copy right row -->
  <div class="container-fluid footer_copy-right mt-5 pt-2">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 copyright_left_content">
          <p>Copyright &#9400;2020 <a routerLink="/#">Genie.</a> All Rights Reserved.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 copyright_right_content">
          <div class="copy_right_socia_icons">
            <p>Powered by <a href="https://www.versatilemobitech.com/" target="_block">Versatile Mobitech Pvt.
                Ltd</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End footer copy right row -->
  
  