<app-header></app-header>
<!-- Start car breadcrumb row -->
<div class="container-fluid bt_bg bb_bg">
  <div class="container">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Support</li>
        </ol>
      </nav>
    </div> 
    <div class="row">
      <div class="center">
        <h2 class="pl_10">Support</h2>
      </div>
      
      <div class="col-lg-12">
        <div class="support_content pt_20">
          <!--Accordion wrapper-->
          <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
            <!-- Accordion card -->
            <div class="card">
              <div class="card-header" role="tab" id="headingOne1">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                  aria-controls="collapseOne1">
                  <h5 class="mb-0">
                    How can we help you ? <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </h5>
                </a>
              </div>
              <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                data-parent="#accordionEx">
                <div class="card-body">
                  <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="favourite_icon_row">
                        <img src="assets/images/call.png" style="width: 50px;"> <a href="tel:+91 9010109045">+91 9010109045</a> / <a href="tel:+91 9010109046" style="margin-right: 10px;"> +91 9010109046</a> 
                        
                        <img src="assets/images/mail.png" style="width: 56px;"> <a href="">genie@gmail.com</a>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            <!-- Accordion card -->

            <!-- Accordion card -->
            <div class="card">
              <div class="card-header" role="tab" id="headingTwo2">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                  aria-expanded="false" aria-controls="collapseTwo2">
                  <h5 class="mb-0">
                    Anim pariatur cliche reprehenderit<i class="fa fa-angle-down" aria-hidden="true"></i>
                  </h5>
                </a>
              </div>
              <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                data-parent="#accordionEx">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                  assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                  nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                  farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                  labore sustainable VHS.
                </div>
              </div>
            </div>
            <!-- Accordion card -->

            <!-- Accordion card -->
            <div class="card">
              <div class="card-header" role="tab" id="headingThree3">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                  aria-expanded="false" aria-controls="collapseThree3">
                  <h5 class="mb-0">
                    enim eiusmod high life accusamus terry<i class="fa fa-angle-down" aria-hidden="true"></i>
                  </h5>
                </a>
              </div>
              <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                data-parent="#accordionEx">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                  assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                  nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                  farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                  labore sustainable VHS.
                </div>
              </div>
            </div>
            <!-- Accordion card -->

            <!-- Accordion card -->
            <div class="card">
              <div class="card-header" role="tab" id="headingfour4">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapsefour4"
                  aria-expanded="false" aria-controls="collapsefour4">
                  <h5 class="mb-0">
                    richardson ad squid. 3 wolf<i class="fa fa-angle-down" aria-hidden="true"></i>
                  </h5>
                </a>
              </div>
              <div id="collapsefour4" class="collapse" role="tabpanel" aria-labelledby="headingfour4"
                data-parent="#accordionEx">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                  assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                  nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                  farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                  labore sustainable VHS.
                </div>
              </div>
            </div>
            <!-- Accordion card -->

            <!-- Accordion card -->
            <div class="card">
              <div class="card-header" role="tab" id="headingfive5">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapsefive5"
                  aria-expanded="false" aria-controls="collapsefive5">
                  <h5 class="mb-0">
                    non cupidatat skateboard dolor brunch.<i class="fa fa-angle-down" aria-hidden="true"></i>
                  </h5>
                </a>
              </div>
              <div id="collapsefive5" class="collapse" role="tabpanel" aria-labelledby="headingfive5"
                data-parent="#accordionEx">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                  assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                  nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                  farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                  labore sustainable VHS.
                </div>
              </div>
            </div>
            <!-- Accordion card -->
          </div>
          <!-- Accordion wrapper -->
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(255,255,255,1)" size="medium" color="#1B6CA8" type="triangle-skew-spin"><br>
  <p style="font-size: 20px; color: #000">Loading...</p>
</ngx-spinner>
<app-footer></app-footer>
